{{!-- <footer>

  <div>© 2020 Copyright:
    <p> Article Publication.com</p>
  </div>
 
</footer> --}}

<footer class="page-footer font-small blue pt-4" position="fixed">

  <div class="footer-copyright text-center py-5">© 2020 Copyright:
    <a href="/"> Article Publication.com</a>
  </div>
 
</footer>
